<table>
    <thead>
        <tr>
            <th colspan="2">Clan Stats</th>
        </tr>
    </thead>
    <tbody>
        <tr><th>Clan Name</th><td>{{name}}</td></tr>
        <tr><th>Clan Tag</th><td>{{tag}}</td></tr>
        <tr><th>Clan Score</th><td>{{clanScore}}</td></tr>
        <tr><th>War Trophies</th><td>{{clanWarTrophies}}</td></tr>
        <tr><th>Required Trophies</th><td>{{requiredTrophies}}</td></tr>
        <tr><th>Weekly donations</th><td>{{donationsPerWeek}}</td></tr>
    </tbody>
</table>