<div class="table-scroll">
    <div class="table-scroll-inner">
        <table width="100%">
            <thead>
                <tr>
                    <th colspan="2" class="condensed">Member</th>
                    <th class="condensed">Dona&shy;tions</th>
                {% for date in war_dates %}
                    <th>{{date}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td style="text-align: center">
                        {% if member.clanRank > member.previousClanRank %}
                        <span class="rank-up">
                        {% elif member.clanRank < member.previousClanRank %}
                        <span class="rank-down">
                        {% else %}
                        <span>
                        {% endif %}          
                           <strong>{{member.clanRank}}</strong>
                        </span>
                    </td>
                    <td>
                        <strong class="condensed">{{member.name}}</strong><br />
                        <small>{{member.role}}</small>
                    </td>
                    {% if member.donations == 0 %}
                    <td class="donations bad">
                    {% elif member.donations > 300 %}
                    <td class="donations good">
                    {% else %}
                    <td class="donations">
                    {% endif %}          
                        <strong>{{member.donations}}</strong>
                    </td>
                {% for war in member.warlog %}
                    {% if war.collectionDayBattlesPlayed is defined %}
                        {% if war.battlesPlayed == 0 %}
                        <td class="war bad">
                        {% elif war.collectionDayBattlesPlayed == 3 %}
                        <td class="war good">
                        {% else %}
                        <td class="war ok">
                        {% endif %}          
                            <div data-role="war">
                                <em class="condensed">collect:</em>&nbsp;{{war.collectionDayBattlesPlayed}}</div>
                                <div><em>war:&nbsp;</em>{{war.battlesPlayed}}</div>
                            </div>
                            <div class="war-tooltip">
                                <dl>
                                    <div><dt>Collection day battles</dd><dd>{{war.collectionDayBattlesPlayed}}</dd></dt>
                                    <div><dt>Cards earned</dt><dd>{{war.cardsEarned}}</dd></div>
                                    <div><dt>War day battles:</dt><dd>{{war.battlesPlayed}}</dd></div>
                                    <div><dt>War day wins:</dt><dd>{{war.wins}}</dd></div>
                                </dl>
                            </div>
                        </td>
                    {% else %}
                        <td class="war na">
                            N/A
                            <div class="war-tooltip">
                                <strong>{{member.name}}</strong> did not participate in this war.
                            </div>
                        </td>
                    {% endif %}          
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>