<div class="table-scroll">
    <div id="member-table-sortable" class="table-scroll-inner">
        <table id="member-table" width="100%" data-filter="none">
            <thead>
                <tr>
                    <th data-sort-default>#</th>
                    <th>{{strings.labelMember}}</th>
                    <th>{{strings.labelScore}}</th>
                    <th>{{strings.labelTrophies}}</th>
                    <th>{{strings.labelDonations}}</th>
                    <th>{{strings.labelDaysInactive}}</th>
                    <th data-sort-method="none">{{strings.labelCurrentWar}}</th>
                {% for label in war_labels %}
                    <th data-sort-method="none">{{label.date}}</th>
                {% endfor %}
                </tr>
            </thead>
            <class="list">
            {% for member in members %}
                <tr data-blacklist="{{ 'true' if member.blacklist else 'false' }}" data-score="{{member.score}}" data-activity="{{member.activity_status}}" data-status="{{member.status}}" data-clanrole="{{member.role}}" data-currentwar="{{member.currentWar.status}}" data-leadership="{{member.leadership}}" data-vacation="{{member.vacation}}" data-new="{{ 'true' if member.new else 'false' }}">
                    <td class="id" data-sort="{{member.clanRank}}">
                        {% if member.clanRank < member.previousClanRank %}
                        <span class="rank-up">
                        {% elif member.clanRank > member.previousClanRank %}
                        <span class="rank-down">
                        {% else %}
                        <span>
                        {% endif %}
                           <strong>{{member.clanRank}}</strong>
                        </span>
                    </td>
                    <td class="name" data-sort="{{member.name}}" data-role="member-dialog-show" data-member-tag="{{member.tag}}">
                        <strong>{{member.name}}</strong><br />
                        <small class="member-role">{{member.role_label}}</small>
                    </td>
                    <td class="score {{member.status}}" data-sort="{{member.score}}" data-tooltip="true">
                        <strong>{{member.score}}</strong>
                        <div class="tooltip">
                            <dl>
                                <div><dt>{{strings.labelScoreDonations}}</dt><dd>{{"{0:+}".format(member.donationScore)}}</strong></dd></div>
                                <div><dt>{{strings.labelScoreWar}}</dt><dd>{{"{0:+}".format(member.warScore)}}</strong></dd></div>
                            </dl>
                        </div>
                    </td>
                    <td class="trophies {{member.trophiesStatus}}" data-sort="{{member.trophies}}">
                        {% if 'arena-' not in member.arenaLeague %}
                        <img class="arena-league" title="{{member.arena.name}}" src="static/images/arena-league-{{member.arenaLeague}}.svg" />
                        {% endif %}
                        <strong>{{member.trophies}}</strong>
                    </td>
                    <td class="donations {{member.donationStatus}}" data-sort="{{member.donations}}" data-tooltip="true">
                        <img src="static/images/cards.svg" />
                        <strong>{{member.donations}}</strong><br />
                        {% if member.donationsDaily > 0 %}
                            <small>{{member.donationsDaily}}/day</small>
                        {% endif %}
                        <div class="tooltip">
                            <dl>
                                <div><dt>{{strings.labelCardsGiven}}</dt><dd>{{member.donations}}</dd></div>
                                <div><dt>{{strings.labelCardRecieved}}</dt><dd>{{member.donationsReceived}}</dd></div>
                                <div><dt>{{strings.labelDonationsLastWeek}}</dt><dd>{{member.donations_last_week}}</dd></div>
                                <div><dt>{{strings.labelScoreDonations}}</dt><dd>{{"{0:+}".format(member.donationScore)}}</strong></dd></div>
                            </dl>
                        </div>
                    </td>
                    <td class="inactivity {{member.activity_status}}" data-sort="{{member.days_inactive}}" >
                        <strong>{{member.days_inactive}}</strong><br /><small>days</small>
                    </td>
                    <td class="war current {{member.currentWar.status}}" data-tooltip="true">
                    {% if member.currentWar.battlesPlayed is defined %}
                        <div data-role="war">
                            <div>
                            {% if (clan.currentWarState == 'warDay') and (member.currentWar.battlesPlayed > 0) %}
                                {% for battle in range(0, member.currentWar.battlesPlayed) %}
                                    {% if member.currentWar.wins >= battle+1 %}
                                    <img class="war-battle" src="static/images/war-battle-win.svg" />
                                    {% else %}
                                    <img class="war-battle" src="static/images/war-battle-loss.svg" />
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img class="war-battle" src="static/images/war-battle-incomplete.svg" />
                            {% endif %}
                            </div>
                            <div class="war-cards">
                                {{member.currentWar.cardsEarned}}
                            </div>
                        </div>
                        <div class="tooltip">
                            <dl>
                                <div><dt>{{strings.labelCollectionDayBattles}}</dt><dd>{{member.currentWar.collectionDayBattlesPlayed}}</dd></div>
                                <div><dt>{{strings.labelCardsEarned}}</dt><dd>{{member.currentWar.cardsEarned}}</dd></div>
                            {% if clan.currentWarState == 'warDay' %}
                                <div><dt>{{strings.labelWarDayBattles}}</dt><dd>{{member.currentWar.battlesPlayed}}</dd></div>
                                <div><dt>{{strings.labelWarDayWins}}</dt><dd>{{member.currentWar.wins}}</dd></div>
                            {% endif %}
                                <div><dt>{{strings.labelWarScore}}</dt><dd>N/A</dd></div>
                            </dl>
                            <br />
                            {{strings.tooltipCurrentWarNoScore}}
                        </div>
                    {% elif member.currentWar.status == 'not-in-clan' %}
                        {{strings.labelNotInClan}}
                        <div class="tooltip">
                            <strong>{{member.name}}</strong> was not in the clan at the time of this war.
                            <dl>
                                <div><dt>{{strings.labelWarScore}}</dt><dd>N/A</dd></div>
                            </dl>
                        </div>
                    {% else %}
                        {{strings.labelNA}}
                        <div class="tooltip">
                            {{strings.tooltipMemberNotInWar.format(name=member.name)}}
                            <dl>
                                <div><dt>War score</dt><dd>N/A</dd></div>
                            </dl>
                            <br />
                            {{strings.tooltipCurrentWarNoScore}}
                        </div>
                    {% endif %}
                    </td>
                {% for war in member.warlog %}
                    <td class="war {{war.status}}" data-tooltip="true">
                    {% if war.battlesPlayed is defined %}
                        <div data-role="war">
                            <div>
                            {% if war.battlesPlayed > 0 %}
                                {% for battle in range(0, war.battlesPlayed) %}
                                    {% if war.wins >= battle+1 %}
                                    <img class="war-battle" src="static/images/war-battle-win.svg" />
                                    {% else %}
                                    <img class="war-battle" src="static/images/war-battle-loss.svg" />
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img class="war-battle" src="static/images/war-battle-incomplete.svg" />
                            {% endif %}
                            </div>
                            <div class="war-cards">
                                {{war.cardsEarned}}
                            </div>
                        </div>
                        <div class="tooltip">
                            <dl>
                                <div><dt>{{strings.labelWarLeague}}</dt><dd>{{war.warLeague}}</dd></div>
                                <div><dt>{{strings.labelCollectionDayBattles}}</dt><dd>{{war.collectionDayBattlesPlayed}}</dd></div>
                                <div><dt>{{strings.labelCollectionDayWins}}</dt><dd>{{war.collectionBattleWins}}</dd></div>
                                <div><dt>{{strings.labelCardsEarned}}</dt><dd>{{war.cardsEarned}}</dd></div>
                                <div><dt>{{strings.labelWarDayBattles}}</dt><dd>{{war.battlesPlayed}}</dd></div>
                                <div><dt>{{strings.labelWarDayWins}}</dt><dd>{{war.wins}}</dd></div>
                                <div><dt>{{strings.labelWarScore}}</dt><dd>{{"{0:+}".format(war.score)}}</strong></dd></div>
                            </dl>
                        </div>
                    {% elif war.status == 'not-in-clan' %}
                        {{strings.labelNotInClan}}
                        <div class="tooltip">
                            {{strings.tooltipMemberNotInWar.format(name=member.name)}}
                            <dl>
                                <div><dt>{{strings.labelWarScore}}</dt><dd>{{"{0:+}".format(war.score)}}</strong></dd></div>
                            </dl>
                        </div>
                    {% else %}
                        N/A
                        <div class="tooltip">
                            {{strings.tooltipMemberNotInWar.format(name=member.name)}}
                            <dl>
                                <div><dt>{{strings.labelWarScore}}</dt><dd>{{"{0:+}".format(war.score)}}</strong></dd></div>
                            </dl>
                        </div>
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>