<div class="dialog-shadow"></div>
<dialog id="member">
    {% for member in members %}
        <div data-member-id="{{member.tag}}">
            <h1>{{member.name}}</h1>
            <dl>
                <div><dt>{{strings.labelMemberName}}</dt><dd>{{member.name}}</dd></div>
                <div><dt>{{strings.labelMemberTag}}</dt><dd>{{member.tag}}</dd></div>
                <div><dt>{{strings.labelDaysInactive}}</dt><dd>{{member.role}}</dd></div>
                <div><dt>{{strings.labelXpLevel}}</dt><dd>{{member.expLevel}}</dd></div>
                <div><dt>{{strings.labelArena}}</dt><dd>{{member.arena.name}}</dd></div>
                <div><dt>{{strings.labelMemberJoinDate}}</dt><dd>{{member.join_date_label}}</dd></div>
                <div><dt>{{strings.labelMemberLastActivity}}</dt><dd>{{member.activity_date_label}}</dd></div>
                <div><dt>{{strings.labelDaysInactive}}</dt><dd>{{member.days_inactive}}</dd></div>
            </dl>
        </div>
    {% endfor %}

    <a data-role="close" href="#">Close</a>
</dialog>
