<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{{page_title}} | CRtools</title>

    <link rel="icon" href="favicon.ico"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,300i,700,700i">
    <link rel="stylesheet" href="static/normalize.css">
    <link rel="stylesheet" href="static/crtools.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
</head>
<body>
    <header><div class="inner">
        <h1>{{clan_name}} Clan Dashboard</h1>
    </div></header>
    <main>
        <article id="hero">
            <div id="clan-description">
                {{clan_description}}
            </div>
            <div id="clan-stats">
                <div class="table-wrap">
                {{clan_stats}}
                </div>
            </div>
        </article>
        <article id="members">
            <h2>Member list and stats</h2>
            <div><small><em>Last update: {{update_date}}</em></small></div>
           {{content}}
        </article>
    </main>

    <footer><div class="inner">
        <ul>
            <li><a rel="external" target="_blank" href="https://github.com/AaronTraas/Clash-Royale-Clan-Tools">Github</a></li>
            <li><a rel="external" target="_blank" href="https://developer.clashroyale.com/">Clash Royale API</a></li>
        </ul>
    </div></footer>

    <a class="github-fork-ribbon right-top" target="_blank" href="https://github.com/AaronTraas/Clash-Royale-Clan-Tools" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    
    <script>
        // requestAnimFrame polyfill
        window.requestAnimationFrame = (function(){
            return  window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame   ||
            window.mozRequestAnimationFrame      ||
            function( callback ){
                window.setTimeout(callback, 1000 / 60);
            };
        })();

        // delay startup of app until first render if possible.
        window.requestAnimationFrame( function() {
            var element = document.createElement( 'script' );
            element.setAttribute( 'src', 'static/crtools.js' );
            document.body.appendChild( element );
        });
    </script>
</body>
</html>
