/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */

  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  color: #222;
}
html, body {
    background-color: #000;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: #f2f2f2;
}

main > section, header > .inner, footer > .inner {
    padding: 22px;
}
@media (max-width: 700px) {
    main > section, header > .inner, footer > .inner {
        padding: 15px;
    }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 { font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem; }
h2 { font-size: 4.2rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.8rem; line-height: 1.35; letter-spacing: -.08rem; font-weight: bold; }
h5 { font-size: 1.5rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }

@media (max-width: 550px) {
    body { font-size: 1.3em; }
    h1 { font-size: 4.0rem; }
    h2 { font-size: 2.6rem; }
    h3 { font-size: 2.2rem; }
}
p {
  margin: 0 0 15px 0;
}
p:last-child {
    margin-bottom: 0;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}
.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

.nobr {
    white-space: nowrap;
}

@media (max-width: 550px) {
    .no-mobile {
        display: none;
    }
}

/* Content objects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    border: none;
    border-top: 1px solid #E1E1E1;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

img {
    border: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
}
a:active,
a:hover {
  color: #0FA0CE;
  outline: 0;
}

.button {
    display: inline-block;
    background-color: #0689fc;
    border-radius: 6px;
    line-height: 18px;
    padding: 16px 44px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-shadow: 0 2px rgba(0,0,0,0.15);
    font-weight: bold;
    text-decoration: none;
    margin: 0 22px;
}
.button:hover {
    color: #fff;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ol, ul {
  padding-left: 1em;
  margin-top: 0;
}
ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
  padding-left: 0.5em;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
    text-align: left;
}
dt, dd {
    display: inline;
}
dt {
    font-weight: normal;
}
dt:after {
    content: ': ';
}
dd {
    font-weight: bold;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 8px 14px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

@media (max-width: 700px) {
    .table-scroll {
        margin: -15px;
    }
    .table-scroll tr:last-child td {
        border-bottom: none;
    }
}

.table-scroll-inner {
    width: 100%;
    overflow-x: auto;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label {
    display: inline-block;
}
select {
    color: inherit;
    font: inherit;
    margin: 0;
    text-transform: none;

    border-right: 1px solid #E1E1E1;
    height: 34px;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.row {
    display: flex;
}
.row > * {
    margin-right: 22px;
    flex: 1;
}
.row > *:last-child {
    margin-right: 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media (max-width: 700px) {
    .row {
        display: block;
    }
    .row > * {
        margin-right: 0;
    }
}

/* Page Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body > header {
    background-color: #fff;
}

body > header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 10px 72px;
    background: url(../clan_logo.png) no-repeat left center;
    background-size: contain;
}
body > header h1 em {
    font-weight: normal;
}

/* Hero element
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#hero {
    background-color: #563d7c;
    color: #fff;
    display: flex;
    padding-top: 44px;
    padding-bottom: 44px;
}

#hero > * {
    margin: 0 15px 0 0;
}
#hero > *:last-child {
    margin: 0;
}

#hero .last-update {
    color: rgba(255,255,255,0.4);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
}

#hero .join-cta {
    text-align: center;
    margin: 4px 22px;
}
#hero .join-cta h3 {
    font-size: 2.0rem;
    margin-bottom: 8px;
}

@media (max-width: 700px) {
    #hero {
        display: block;
    }
    #hero > * {
        margin: 0;
    }
}
@media (max-width: 550px) {
    #hero {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* Clan stats table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#clan-stats {
    min-width: 260px;
}
#clan-stats .table-wrap {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(0,0,0,.3);
}
#clan-stats table {
    width: 100%;
    margin: 0;
}
#clan-stats table thead th {
    text-align: center;
    background-color: rgba(255,255,255,0.4);
}
#clan-stats table tbody th {
    font-family: 'Open Sans Condensed', sans-serif;
}
#clan-stats table tbody tr:last-child th,
#clan-stats table tbody tr:last-child td {
    border-bottom: none;
}

img.war-league {
    height: 22px;
    vertical-align: text-top;
}

/* Clan description region
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#clan-description {
    flex: 1;
}
#clan-description > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Current war region
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#members article#current-war {
    margin-bottom: 66px;
    padding: 8px;
}

#current-war dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

#current-war dl > * {
    flex: 1;
    min-width: 100px;
    background-color: #fff;
    margin: 1px;
    padding: 7px;
    border-right: 1px solid #E1E1E1;
}

#current-war dl > *:last-child {
    border-right: none;
}

#current-war dl dt,
#current-war dl dd {
    display: block;
    text-align: center;
}

#current-war .cards dd:before,
#current-war .crowns dd:before,
#current-war .warDay dd:before,
#current-war .collectionDay dd:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 .3em -.1em 0;
}

#current-war .crowns dd:before {
    background-image: url(images/crown-gold.svg);
}

#current-war .cards dd:before,
#current-war .collectionDay dd:before {
    background-image: url(images/cards.svg);
}

#current-war .warDay dd:before {
    background-image: url(images/war-battle-win.svg);
}

@media (max-width: 600px) {
    #current-war dl {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    #current-war dl > * {
        border: none;
    }
}

/* Member list section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#members header {
    display: table-row;
    width: 100%;
}
#members header > * {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#members thead img.war-league {
    height: 14px;
    vertical-align: -1px;
}

#members header .filters {
    white-space: nowrap;
}
@media (max-width: 700px) {
    #members header .filters select {
        height: 26px;
    }
}

#members article {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    padding: 15px;
    margin-top: 44px;
    margin-bottom: 22px;
}

#members article > header {
    position: absolute;
    top: -44px;
    left: 0;
}

#members article > header h2 {
    font-size: 3.0rem;
}
@media (max-width: 700px) {
    #members article > header {
        top: -30px;
    }
    #members article > header h2 {
        font-size: 2.0rem;
    }
}

/* Member table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#members h2, #members h3, #members h4 {
    margin: 0;
}

#members th, #members td {
    padding: 8px;
    line-height: 1.2em;
}

#members th:first-child, #members td:first-child {
  padding-left: 0;
}

#members table th {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

#members table .member-role {
    text-transform: capitalize;
    display: block;
}

#members table tr[data-role='leader'] .member-role {
    background: url(images/crown-gold.svg) no-repeat left center;
    background-size: 1em;
    padding-left: 1.3em;
}


#members table .score,
#members table .donations,
#members table .trophies {
    text-align: center;
}

#members .trophies > img {
    height: 22px;
    vertical-align: text-top;
}

#members .donations > img {
    height: 14px;
    vertical-align: -10%;
}
#members .donations.bad > img {
    display: none;
}

#members table .war {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}
#members .war-cards {
    white-space: nowrap;
    font-weight: normal;
    margin-top: 3px;
}
#members .war-cards:before {
    content: '';
    display: inline-block;
    background: url(images/cards.svg) no-repeat;
    width: 12px;
    height: 12px;
    background-size: contain;
    vertical-align: -2px;
    margin-right: -2px;
}

#members table .good,
#members table .ok,
#members table .bad {
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

#members table .na {
    color: #999;
    font-weight: normal;
}

#members table .war em {
    font-weight: normal;
}


#member-table td.war.current.normal {
    border: 3px dashed #BB89CC;
    background-color: #F1EAF4;
}
#member-table td.war.current.collection-day.ok {
    border: 3px dashed #ffbb43;
    background-color: #FFF6E6;
}


#members img.war-battle {
    height: 18px;
}

#members table .rank-up,
#members table .rank-down {
    display: block;
    position: relative;
}

#members table .rank-up:before,
#members table .rank-down:before {
    content: '';
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    right: -8px;
}
#members table .rank-up:before {
    background-image: url(images/arrow-up.svg);
}
#members table .rank-down:before {
    background-image: url(images/arrow-down.svg);
}

#members table tr[data-vacation="True"] {
    background-color: #ddd;
    color: #999;
}
#members table tr[data-vacation="True"] .bad {
    background-color: #d2b0ac;
    color: #999;
}
#members table tr[data-vacation="True"] .ok {
    background-color: #f5ce89;
}
#members table tr[data-vacation="True"] .good {
    background-color: #d8f3e6;
}
#members table tr[data-vacation="True"] .bad,
#members table tr[data-vacation="True"] .ok,
#members table tr[data-vacation="True"] .good {
    border-left: none;
    border-bottom: 1px solid #E1E1E1
}

#members table tr[data-vacation="True"] .donations,
#members table tr[data-vacation="True"] .score {
    background-color: #ddd;
}
#members table tr[data-vacation="True"] td img {
    opacity: .3;
}
#members table tr[data-vacation="True"] .member-role {
    display: block;
    position: relative;
    color: #ddd;
}
#members table tr[data-vacation="True"] .member-role:after {
    content: 'On Vacation';
    color: #222;
    font-weight: bold;
    position: absolute;
    text-indent: unset;
    left: 0;
}
#members table tr[data-vacation="True"] .score > strong {
    display: none;
}

#members table tr[data-vacation="True"] .score:after {
    content: 'N/A';
    font-size: 80%;
}

@media (max-width: 700px) {
    #members th:first-child, #members td:first-child {
      padding-left: 4px;
    }
    #members th, #members td {
        line-height: 1.1em;
    }
    #members table th {
        font-size: 10px;
    }
    #members table td {
        font-size: 12px;
    }
}

/* Score colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bad {
    background-color: #c13525;
    color: #fff;
}
.ok {
    background-color: #ffbb43;
}
.good {
    background-color: #b6e9d1;
}

.na {
    color: #999;
}

strong.good,
strong.ok,
strong.bad,
strong.na {
    display: inline-block;
    border-radius: 4px;
    white-space: nowrap;
    padding: 0 6px;
}

strong.na {
    border: 1px dotted #999;
}

/* Member table filters
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#member-table[data-filter="leadership"] tr[data-leadership="False"] {
    display: none;
}

#member-table[data-filter="danger"] tr[data-status="good"],
#member-table[data-filter="danger"] tr[data-status="normal"] {
    display: none;
}

#member-table[data-filter="currentwar"] tr[data-currentwar="na"] {
    display: none;
}

#member-table[data-filter="role-elder"] tr:not([data-role="elder"]) {
    display: none;
}

#member-table[data-filter="role-member"] tr:not([data-role="member"]) {
    display: none;
}

/* Rules
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#suggestions .list {
    flex: 1;
    columns: 200px;
    padding-bottom: 15px;
    column-fill: auto;

}
#suggestions .info {
    flex: 0;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}
.rules {
    width: 100%;
}

.rules .yes,
.rules .no {
    text-align: center;
}


/* Page footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    color: #fff;
    background-color: #000;
}

footer ul,
footer ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer ul li::after {
    content: '|';
    display: inline-block;
    padding: 0 16px;
}

footer ul li:last-child::after {
    content: none;
    display: none;
}
footer .version {
    float: right;
    color: #ccc;
    font-weight: normal;
}

/* Tooltips
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tooltip {
    display: none;
}

.b-tooltip{
    position: absolute;
    display: inline-block;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;

    padding: 4px 6px;
    min-width: 90px;

    background: #ddd;
    color: #222;
    border: 1px solid #222;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.b-tooltip:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ddd;
    bottom: -4px;
    right: 50%;
    margin-right: -3px;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    transform: rotate(45deg);
}
.b-tooltip dl {
    display: table;
}
.b-tooltip dl > div {
    display: table-row;
    white-space: nowrap;
}
.b-tooltip dl > div > dt,
.b-tooltip dl > div > dd {
    display: table-cell;
}
.b-tooltip dl > div > dt {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-right: 4px;
}
.b-tooltip dl > div > dd {
    font-family: 'Open Sans', sans-serif;
}

/* Github ribbon
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.github-fork-ribbon {
  font-family: sans-serif;
    width: 160px;
    height: 160px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-indent: -999999px;
    pointer-events: none;
}

.github-fork-ribbon:before, .github-fork-ribbon:after {
    position: absolute;
    display: block;
    width: 200px;
    height: 20px;

    top: 41px;
    right: -41px;

    transform: rotate(45deg);
}

.github-fork-ribbon:before {
    content: "";

    padding: 5px 0;
    background-color: #a00;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.15));
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);

    pointer-events: auto;
}

.github-fork-ribbon:after {
    content: "Fork me on GitHub";

    line-height: 21px;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-indent: 0;

    padding: 2px 0;
    margin: 2px 0;

    border-width: 1px 0;
    border-style: dotted;
    border-color: rgba(255,255,255,0.7);
}

