html, body {
    background-color: #000;    
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #fff;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    padding-right: 72px;
}
header h1 em {
    font-weight: normal;
}

main {
    background-color: #f2f2f2;
    overflow-x: scroll;
}

table th {
    text-align: center;
}

table .war {
    background-color: #ffbb43;
    font-size: 12px;
    font-weight: bold;
}
table .war-bad {
    background-color: #c13525;
    color: #fff;
}

table .war-good {
    background-color: #b6e9d1;
}

table .war-na {
    background-color: transparent;
    color: #999;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
}
table .war em {
    font-weight: normal;
}


table .rank-up:before,
table .rank-down:before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
}
table .rank-up:before {
    background-image: url(arrow-up.svg);
}
table .rank-down:before {
    background-image: url(arrow-down.svg);
}

main > article, header > .inner, footer > .inner {
    padding: 22px;
}

footer {
    color: #fff;
    background-color: #000;
    min-height: 185px;
}

footer ul, 
footer ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer ul li::after {
    content: '|';
    display: inline-block;
    padding: 0 16px;
}

footer ul li:last-child::after {
    content: none;
    display: none;
}
